target/
build/
generated/
node_modules/
.idea/
.workspace/
*.iml
.gradle
local.properties
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
.bin
rustc-ice-*.txt
**/*.xcodeproj/xcuserdata/
**/*.xcworkspace/xcuserdata/
.fleet
web-leptos/assets/style.css
**/public/worker
**/public/core-worker
**/public/opfs-worker
**/worker/dist
**/output.css
history.txt