target/
build/
generated/
node_modules/
.idea/
.workspace/
*.iml
.gradle
local.properties
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
.bin
rustc-ice-*.txt
**/*.xcodeproj/xcuserdata/
**/*.xcworkspace/xcuserdata/
.fleet
web-leptos/assets/style.css
**/public/worker
**/public/core-worker
**/public/opfs-worker
**/public/wasm
**/worker/dist
**/output.css
history.txt
.dev
GEMINI.md
desktop-update-plan.md
bytover.log
native-windows-gui
str0m
!third_party/str0m/
!third_party/str0m/**

*.provisionprofile