[submodule "libs/devlog-sdk"]
	path = libs/devlog-sdk
	url = git@github.com:dev-logs/devlog-sdk.git
[submodule "libs/schema"]
	path = libs/schema
	url = git@github.com:dev-logs/schema.git
[submodule "libs/core-services"]
	path = libs/core-services
	url = git@github.com:dev-logs/core-services.git
[submodule "auth-gateway"]
	path = auth-gateway
	url = git@github.com:dev-logs/auth-gateway.git
