<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAccessibilityUsageDescription</key>
    <string>Required to control windows and system interactions.</string>
    <key>NSInputMonitoringUsageDescription</key>
    <string>Required to detect global mouse and keyboard input.</string>
</dict>
</plist>
